<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/nomes.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/nomes.css')}}">
    <title>Previsão Idades</title>
</head>
<body>
    <h1>Previsão de Idade baseada em nomes Aleatórios</h1>
    {% for nome in nomes %}
    <div class="div_nome">
        <label>{{ nome }}</label> 
        <input id="{{ nome }}" disabled>
        <button onclick="mostrar_idade('{{nome}}')">Prever idade</button><br>
    </div>
    {% endfor %}
</body>
</html>